//
@import 'colors';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    text-align: center;
    background-image: url('img/sky.jpg');
}


header{
    height: 80px;
    background-color:  rgba($color: $lightBlue, $alpha: 0.8);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue;

    nav{
        ul{
            display: flex;
            justify-content: center;


            li{
                margin-right: 20px;
                list-style: none;
                color: white;
                line-height: 80px;
            }
        }
    }
}


main{
    height:calc(100vh - 210px);
    position: relative;

   i{
        position: absolute;
        font-size: 50px;
        top: 50px;
        color: $blue;

        &:first-of-type{
            left: 39%;
        }

        &:last-of-type{
            left: 57%;
        }

    }



    input{

        margin-top: 150px;
        height: 39px;
        border:none;
        text-align: center;
        font-size: 25px;

        &::placeholder{
            color: $blue;
        }




        &:first-of-type,
        &:nth-last-of-type(2){
            margin-right: 30px;
            padding: 10px;
        }

        &:last-of-type{
            background-color: $blue;
            color: white;
            padding: 5px;
            margin-left: 20px;
            width: 50px;
            position: absolute;
            top: 17%;
            left: 41%;
            width: 300px;
            height: 70px;
            font-size: 40px;
            cursor: pointer;
        }


    }

    .result-container{
        background-color: $blue;
        color: white;
        position: absolute;
        height: 400px;
        width: 400px;

        text-align: left;
        line-height: 30px;

        &:first-of-type{
            left:29%;
            padding: 30px;

        }

        &:last-of-type{
            left: 53%;
            padding: 83px 30px;
        }

        b{
            color: $lightBlue;
        }
    }


}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    color:$blue;
    height: 80px;
    background-color:  rgba($color: $lightBlue, $alpha: 0.8);
}
